<!doctype html>

<html>
    <head>
        {% block title %}
        {% endblock title %}
    </head>

        <body>

            <!--Creating a side bar for the to-do list app-->
            <div class="sidenav">
                <!--Jumping to links through the sidebar-->
                <a href="/">Home</a>
                <a href="https://docs.google.com/document/d/1sB8USLTgc870auaG-4M7tktZpwCTLaR99vMfD-WpJfI/edit?usp=sharing" target="_blank">About</a>
                <!--<a href="/highscores">Highscores</a>-->
                <!--<a href="/register">Register</a>-->
            </div>
        </body>

</html>